<% include ./partials/boilerplate.ejs %>

<div class='hero'>
  <h1><%= message %></h1>
  <h3><%= subTitle %></h3>
</div>

<p>We have movies by a bunch of people!</p>

<a href='/movies'>See all movies</a>

<% include ./partials/end.ejs %>
