<%# entry view of our movies app, should be rendered on index route %>
<!doctype html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <title>Movies!</title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Oswald:700|Merriweather:700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<% include ./partials/header.ejs %>
<body>
  <h1><%= logoName %></h1>
  <p>This is the body</p>
</body>
<% include ./partials/footer.ejs %>
</html>
