<% include ../partials/boilerplate %>

<form method='POST' action='/movies'>
  <input name='title' type='text' placeholder='title' />
  <input name='release_year' type='text' placeholder='release year' />
  <input name='director' type='text' placeholder='director' />
  <input type='submit' value='Add it!' />
</form>

<% include ../partials/end %>
