<% include ../partials/boilerplate %>

  <div>
    <h3><%= movie.title %></h3>
    <div class='meta'>
      <span><%= movie.release_year %></span>
      <span><%= movie.director %></span>
    </div>
  </div>

  <a href='/quotes'>Return to movies index</a>

<% include ../partials/end %>
