<%# this template should render a single movie %>

<div class='movie'>
  <h1><%= data.title %></h1>
  <h3><%= data.release_year %></h3>
  <h3><%= data.director %></h3>
  <a href='/movies/'>See all movies</a>
</div>
